{% extends "ctdata/__no_sidebar.html" %}
{% load ctdata_tags wagtailcore_tags %}

{% block centered_content %}
    <div class="row">
        <div class="col-sm-10 offset-sm-1 col-md-10 offset-md-1 col-lg-8 offset-lg-1">
{#            {% include 'ctdata/includes/breadcrumbs.html' %}#}
            {{ tag.description }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 offset-sm-1 col-md-3 offset-md-1">
            <h2>Resources</h2>
            {% if resources %}
                <div class="data-academy-resource data-academy-resource--list">
                    {% for resource in resources %}
                        {% include "ctdata/includes/resource_list_item.html" with resource=resource %}
                    {% endfor %}
                </div>
            {% else %}
                <p>No resources currently.</p>
            {% endif %}
        </div>
        <!-- /.col-sm-5 -->
        <div class="col-sm-10 offset-sm-1 col-md-4 offset-md-0">
            <h2>Events</h2>
            {% if events %}
                <div class="list-group">
                    {% for event in events %}
                      {% include "ctdata/includes/academy_event_item.html" with event=event %}
                            {% if forloop.last %}{% else %}<hr>{% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <p>No events currently scheduled</p>
            {% endif %}
        </div>
        <div class="col-sm-10 offset-sm-1 col-md-3 offset-md-0">
            <h2>Additional Tags</h2>
             {% for tag in other_tags %}
                    <h3><a href="/categories/{{ tag.name }}/">{{ tag.name | title }}</a></h3>
            {% endfor %}
        </div>
    </div>
    <!-- /.row -->
{% endblock %}
