{% extends "ctdata/__no_sidebar.html" %}
{% load ctdata_tags wagtailcore_tags wagtailimages_tags %}

{% block centered_content %}
    <div>
        <div class="row">
            <div class="col-sm-10 offset-sm-2 col-lg-6 offset-lg-2">
                {% include 'ctdata/includes/breadcrumbs.html' %}
                <p>{{ self.title }}
                {% if self.body %}
                    {{ self.body }}
                {% endif %}
                </p>
                {% include "ctdata/includes/resource_links.html" with related_links=self.related_links.all only %}
            </div>
            <ul>
            {% for event in self.related_events %}
                <li><a href="{{ event.url }}">{{ event.title }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
