{% extends "ctdata/__no_sidebar.html" %}
{% load ctdata_tags wagtailcore_tags wagtailimages_tags %}

{% block centered_content %}
    <div>
        <div class="row">
            <div class="col-sm-9 offset-sm-1 col-md-9 offset-md-1 col-lg-8 offset-lg-2">
                {% include 'ctdata/includes/resource_archive_breadcrumbs.html' %}
                {% if page.body %}
                    {% include "ctdata/includes/streamfield.html" with content=page.body %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                {% event_resource_list %}
            </div>
        </div>
    </div>
{% endblock %}
