{% extends "ctdata/__no_sidebar.html" %}
{% load wagtailcore_tags static %}
{% block title %}{{ self.title }}{% endblock %}
{% block page_row_class %}blog-page{% endblock %}
{% block navbar %}
    {{ block.super }}
    {% include 'ctdata/includes/hidden_navbar.html' %}
{% endblock %}
{% block centered_content %}
    <div class="post-content">
        <div id="scrolly-story">
            <div class="row">
                <div class="col-xs-8 offset-xs-2">
                    <div id="sections">
                        {% for section in content %}
                            <section class="step">
                                {% for item in section.items %}
                                    {% if item.type == 'Title' %}
                                        <h2>{{ item.content | safe }}</h2>
                                    {% elif item.type == 'Heading' %}
                                        <h3>{{ item.content | safe }}</h3>
                                    {% elif item.type == 'Subheading' %}
                                        <h4>{{ item.content | safe }}</h4>
                                    {% elif item.type == 'Paragraph' %}
                                        <p>{{ item.content | safe }}</p>
                                    {% elif item.type == 'Ordered List' %}
                                        <p>{{ item.content | safe }}</p>
                                        <ol>
                                            {% for list_item in item.list_items %}
                                                <li>{{ list_item | safe }}</li>
                                            {% endfor %}
                                        </ol>
                                    {% elif item.type == 'Unordered List' %}
                                        <p>{{ item.content | safe }}</p>
                                        <ul>
                                            {% for list_item in item.list_items %}
                                                <li>{{ list_item | safe }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% endfor %}
                            </section>
                            <!-- /.step -->
                        {% endfor %}
                    </div>
                    <!-- /#sections -->
                    <div id="scrolly-vis"></div>
                    <!-- /#scrolly-vis -->
                </div>
            </div><!-- /.row -->
        </div>
        <hr>
    </div>
    {% include "ctdata/includes/related_links.html" with related_links=self.related_links.all only %}
{% endblock %}
{% block extra_js %}
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<script>
$(function() {
    // Functions to handle the initial positioning of the header, footer and viz box for scrollytelling
    var header = $(".navbar-hidden");
    var scrollyVis = $("#scrolly-vis");
    var footer = $('#footer');
    var footer_padding = footer.css('padding-top').substr(0,2);
    var footerCutoff = footer.height() + 2*Number(footer_padding);
    var docHeight = $(document).height();
    $(window).scroll(function() {
        var scroll = $(window).scrollTop();
        var windowHight = $(window).height();
        if (scroll >= 350) {
            header.removeClass('hidden').addClass("reveal");
        } else {
            header.removeClass("reveal").addClass('hidden');
        }
        if (scroll <= 375) {
            var newtop = 500 - scroll;
            scrollyVis.css('top', newtop + 'px');
        } else {
            scrollyVis.css('top', '120px');
        }
{#        if ((scroll + windowHight) > (docHeight - footerCutoff/2)) {#}
{#            console.log(scroll);#}
{#        }#}
    });
    // Need to add a $(document).height() based watcher that will move scrollyvis up when we hit the footer
});
</script>
<script src="{% static 'ctdata/js/scroller.js' %}"></script>
<script src="{% static 'ctdata/js/scrolly_graphics.js' %}"></script>
{% endblock %}
{% block external_js %}
<script src="{% static 'ctdata/js/lib/d3.js' %}"></script>
{% endblock %}
