.events {
  padding-top: 1rem;
  padding-bottom: 1rem;
  ul {
    padding-left: 0;
    li {
      list-style-type: none;
      padding-bottom: 1rem;
      h4 {
        a {
          color: black;
          font-family: 'Roboto Condensed';
        }
      }
      p { font-family: 'Roboto Condensed';}

    }
  }
  .list-group-item {
    border: none;
  }
}
