#scrolly-story {
  padding-top: 5rem;

  table {
    font-size: .9rem;
    th, td {
        text-align: right;
        max-width: 150px;
        padding-left: 1rem;
    }
    thead {
      tr {
        th:first-of-type {
          text-align: left;
        }
      }
    }
    tbody {
      tr {
        td:first-of-type {
          text-align: left;
        }
      }
    }
  }

  #conclusion {
    margin-top: -100px;
  }
}

#sections {
  position: relative;
  display: inline-block;
  width: 450px;
  top: 0px;
  z-index: 90;
}

.step {
  margin-bottom: 200px;
}


#scrolly-vis {
  display: inline-block;
  position: fixed;
  top: 500px;
  z-index: 1;
  margin-left: 0;
  height: 400px;
  width: 700px;
  //background-color: #ddd;
  --accent-color: #E8336D;

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    stroke-width: 2px;
  }

  .tick {
    text {
      font-family: "Roboto Condensed", san-serif;
      font-size: 14px;
    }
  }
  .line {
    fill: none;
    stroke: steelblue;
  }

  .ref-line {
    fill: none;
    stroke: lightblue;
    stroke-dasharray: 5;
    stroke-width: 1px;
  }
  .node rect {
    cursor: move;
    fill-opacity: .9;
    shape-rendering: crispEdges;
  }
  .node text {
    pointer-events: none;
    //text-shadow: 0 1px 0 #fff;
  }

  .link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
  }

  .link:hover {
    stroke-opacity: .5;
  }

  .link.top-sources {
    stroke: green;
    stroke-opacity: .5;
  }

  .link.top-targets {
    stroke: red;
    stroke-opacity: .5;
  }

  .annotation path {
      stroke: var(--accent-color);
      fill: none;
    }

  .annotation path.connector-arrow,
  .title text, .annotation text,
  .annotation.callout.circle .annotation-subject path{
    fill: var(--accent-color);
  }
  .annotation-note-bg {
    fill: rgba(255, 255, 255, 0);
  }

  .annotation-note-title {
    font-weight: bold;
  }

  .annotation.xythreshold {
    cursor: move;
  }

}
