{% load wagtailcore_tags ctdata_tags %}
{% if self.get_ancestors|length > 1 %}
    {% setvar "true" as rendered %}
    <ol class="breadcrumbs">
        {% for page in self.get_ancestors %}
            {% if page.is_root == False %}
                <li><a href={% pageurl page %}>
                    {% if forloop.counter == 2 %}
                        <i class="fa fa-home"></i>
                    {% else %}
                        {{ page.title }}
                    {% endif %}
                </a></li>
            {% endif %}
        {% endfor %}
        <li><a href="#">{{ self.title }}</a></li>
    </ol>
{% else %}
    {% setvar "false" as rendered %}
{% endif %}
{% if page.get_ancestors|length > 1 and rendered = "false" %}
    <ol class="breadcrumbs">
        {% for page in page.get_ancestors %}
            {% if page.is_root == False %}
                <li><a href={% pageurl page %}>
                    {% if forloop.counter == 2 %}
                        <i class="fa fa-home"></i>
                    {% else %}
                        {{ page.title }}
                    {% endif %}
                </a><span class="separator"></span></li>
            {% endif %}
        {% endfor %}
        <li><a href="#">{{ page.title }}</a></li>
    </ol>
{% endif %}
