{% load wagtailcore_tags wagtailimages_tags %}

{# Individual event item in a list - used on event index and home page #}
<div class="media">
    <div class="media-body">
        <a href="{% pageurl event.item %}"><h4 class="media-heading">{{ event.title }}</h4></a>
        <p>{{ event.event_type }}</p>
        <p><strong>{{ event.date }}</strong></p>
        <h4>Resources:</h4>
        <ul>
            {% for resource in event.resource_items %}
                <li>
                    {{ resource.title }}
                    {{ resource.items }}
                    {% for i in resource.items %}
                        {% if i.type == 'link' %}
                            <a href="{{ i.link }}"><i class="fa fa-link"></i></a>
                        {% elif i.type == 'external' %}
                            <a href="{{ i.link }}"><i class="fa fa-external-link"></i></a>
                        {% elif i.type == 'document' %}
                            <a href="{{ i.link }}"><i class="fa fa-file"></i></a>
                        {% endif %}
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
