{% load wagtailcore_tags wagtailimages_tags %}

{# Individual event item in a list - used on event index and home page #}
<div class="media">
    <div class="media-body">
        <h4 class="media-heading">Event Name: <a href="{% pageurl event.item %}">{{ event.title }}</a></h4>
        <p>{{ event.date }}</p>
        <h4>Resources:</h4>
        <ul>
            {% for resource in event.resource_items %}
                <li>
                    {% for i in resource.items %}
                        {% if i.type == 'link' %}
                            <a href="{{ i.link }}">{{ resource.title }} <i class="fa fa-link"></i></a>
                        {% elif i.type == 'external' %}
                            <a href="{{ i.link }}">{{ resource.title }} <i class="fa fa-external-link"></i></a>
                        {% elif i.type == 'document' %}
                            <a href="{{ i.link }}">{{ resource.title }} <i class="fa fa-file"></i></a>
                        {% endif %}
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
