<!-- Begin MailChimp Signup Form -->
{% verbatim %}
<div id="mc_embed_signup" class="slim">
    <form action="//ctdata.us10.list-manage.com/subscribe/post?u=0b7918ecc4e57bfd5005c11e3&amp;id=8d00609df4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
            <h3 for="mce-EMAIL">Subscribe to our newsletter</h3>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_0b7918ecc4e57bfd5005c11e3_8d00609df4" tabindex="-1" value="">
            </div>
            <div class="clear">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn ctdata-btn">
            </div>
        </div>
    </form>
</div>
{% endverbatim %}
<!--End mc_embed_signup-->
